service fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.0-service-custom
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input


service vendor.gx_fpd /system/vendor/bin/gx_fpd
    class late_start
    user root
    group system root input
    onrestart restart fingerprintd
    
on post-fs-data
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/goodix/gf_data/authenticate 0770 system system 
    mkdir /data/vendor/goodix/gf_data/enroll 0770 system system
    chown system system /data/vendor
